{% extends 'base.html' %}

{% block page_title %}
<h1 class="mb-4">
    {{ title }}
</h1>
{% endblock %}

{% block sidebar %}
<div class="col-md-3">
    <form method="get">
        <div class="input-group">
            <input name="term" type="text" class="form-control" placeholder="Поиск..." aria-label="Поиск..."
               aria-describedby="button-addon2" value="{{ filters.data.term }}">
            <button type="submit" class="btn btn-info">Поиск</button>
            <a href="{% url 'currency' %}" class="btn btn-light">Сброс</a>
        </div>
    </form>
    <ul class="list-group mt-4">
        <a class="list-group-item" href="{% url 'currency_settings' %}">Настройки</a>
        <a class="list-group-item" href="{% url 'home' %}">Банки</a>
        <a class="list-group-item" href="{% url 'depositors' %}">Вкладчики</a>
        <a class="list-group-item" href="{% url 'deposits' %}">Вклады</a>
        <a class="list-group-item" href="{% url 'admin' %}">Панель администратора</a>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-bordered">
        <thead class="table-info">
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Кодовое обозначение</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in currency %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.code }}</td>
            <td>
                <a href="{% url 'currency_detail' pk=item.pk %}" class="btn btn-outline-info">Подробнее</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
