{% extends 'base.html' %}

{% block page_title %}
<h1 class="mb-4">
    {{ title }} {{ depositor.last_name }} {{ depositor.first_name }} {{ depositor.patronymic }}
</h1>
{% endblock %}

{% block sidebar %}
<div class="col-md-3">
    <form method="get">
        <select class="form-select mb-2" name="depositor" id="depositorSelect">
            <option value="">Выберите вкладчика</option>
            {% for depositor in depositors %}
            <option value="{{ depositor.id }}" {% if depositor.id == filters.data.depositor %} selected {% endif %}>
                {{ depositor.last_name }}
                {{ depositor.first_name }}
                {{ depositor.patronymic }}
            </option>
            {{depositor}}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-info">Применить фильтры</button>
        <a href="{% url 'deposits' %}" class="btn btn-light">Сбросить</a>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-bordered">
        <thead class="table-info">
        <tr>
            <th scope="col">Ф.И.О. вкладчика</th>
            <th scope="col">Дата открытия</th>
            <th scope="col">Сумма</th>
            <th scope="col">Годовой процент</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in deposits %}
        <tr>
            <td>{{ item.depositor }}</td>
            <td>{{ item.dc }}</td>
            <td>{{ item.amount }} {{ item.currency.code }}</td>
            <td>{{ item.annual_percentage }} %</td>
            <td>
                <a href="{% url 'deposit_detail' pk=item.pk %}" class="btn btn-outline-info">Подробнее</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
