{% extends 'base.html' %}

{% block page_title %}
<h1 class="mb-4">
    {{ title }}
    {% if role == 'depositorPremium' %}
    с высоким рейтингом
    {% elif role == 'depositorNormal' %}
    с обычным рейтингом
    {% elif role == 'depositorGarbage' %}
    из черного списка
    {% else %}

    {% endif %}
</h1>
{% endblock %}

{% block sidebar %}
<div class="col-md-3">
    <form method="get">
        <input name="last_name" type="text" class="form-control mb-2" placeholder="Укажите фамилию" aria-label="Укажите фамилию" value="{{ filters.data.last_name }}">
        <input name="first_name" type="text" class="form-control mb-2" placeholder="Укажите имя" aria-label="Укажите имя" value="{{ filters.data.first_name }}">
        <input name="patronymic" type="text" class="form-control mb-2" placeholder="Укажите отчетство" aria-label="Укажите отчетство" value="{{ filters.data.patronymic }}">
        <select class="form-select mb-2" name="role" id="roleSelect">
            <option value="">Выберите роль</option>
            {% for role in roles %}
            <option value="{{ role }}" {% if role == filters.data.role %} selected {% endif %}>
                {% if role == 'depositorPremium' %}
                    Вкладчики с высоким рейтингом
                {% elif role == 'depositorNormal' %}
                    Вкладчики с обычным рейтингом
                {% elif role == 'depositorGarbage' %}
                    Вкладчики из черного списка
                {% else %}
                    Все вкладчики
                {% endif %}
            </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-info">Применить фильтры</button>
        <a href="{% url 'depositors' %}" class="btn btn-light">Сбросить</a>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-bordered">
        <thead class="table-info align-middle">
        <tr>
            <th scope="col">Фото</th>
            <th scope="col">Ф.И.О.</th>
            <th scope="col">Серия и номер паспорта</th>
            <th scope="col">День рождения</th>
            <th scope="col">Эл. почта</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Статус</th>
            <th scope="col">Банк</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in depositors %}
        <tr>
            <td>
                <div class="media">
                    {% if item.photo %}
                    <img src="{{ item.photo.url }}" height="150" width="200" class="rounded mx-auto d-block" alt="">
                    {% else %}
                    <img src="https://loremflickr.com/200/150" alt="">
                    {% endif %}
                </div>
            </td>
            <td>{{ item.last_name }} {{ item.first_name }} {{ item.patronymic }}</td>
            <td>{{ item.passport }}</td>
            <td>{{ item.birthday }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.telephone }}</td>
            <td>
                {% if item.role == 'depositorPremium' %}
                Вкладчик с высоким рейтингом
                {% elif item.role == 'depositorNormal' %}
                Вкладчик с обычным рейтингом
                {% elif item.role == 'depositorGarbage' %}
                Вкладчик из черного списка
                {% else %}
                -
                {% endif %}
            </td>
            <td>{{ item.bank }}</td>
            <td>
                <a href="{% url 'depositor_detail' pk=item.pk %}" class="btn btn-outline-info">Подробнее</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
