{% extends 'base.html' %}

{% block page_title %}
<h1 class="mb-4">
    {{ title }} {{ depositor.last_name }} {{ depositor.first_name }} {{ depositor.patronymic }}
</h1>
{% endblock %}

{% block sidebar %}
<div class="col-md-3">
    <ul class="list-group">
        {% for depositor in depositors %}
        <a href="/deposits/depositor/{{ depositor.pk }}" class="list-group-item">
            {{ depositor.last_name }}
            {{ depositor.first_name }}
            {{ depositor.patronymic }}
        </a>
        {% endfor %}
        <a href="/deposits" class="list-group-item">
            Все вклады
        </a>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-bordered">
        <thead class="table-info">
        <tr>
            <th scope="col">Ф.И.О. вкладчика</th>
            <th scope="col">Дата открытия</th>
            <th scope="col">Сумма</th>
            <th scope="col">Годовой процент</th>
        </tr>
        </thead>
        <tbody>
        {% for item in deposits %}
        <tr>
            <td>{{ item.depositor }}</td>
            <td>{{ item.dc }}</td>
            <td>{{ item.amount }} {{ item.currency.code }}</td>
            <td>{{ item.annual_percentage }} %</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
