{% extends 'base.html' %}

{% block page_title %}
<h1 class="mb-4">
    {{ title }}
</h1>
{% endblock %}

{% block sidebar %}
<div class="col-md-3">
    <form method="get">
        <div class="input-group">
            <input name="term" type="text" class="form-control" placeholder="Поиск..." aria-label="Поиск..."
               aria-describedby="button-addon2" value="{{ filters.data.term }}">
            <button type="submit" class="btn btn-info">Поиск</button>
            <a href="{% url 'home' %}" class="btn btn-light">Сброс</a>
        </div>
    </form>
    <ul class="list-group mt-4">
        <a class="list-group-item" href="{% url 'home' %}">Банки</a>
        <a class="list-group-item" href="{% url 'banks-vs' %}">Настройки</a>
        <a class="list-group-item" href="{% url 'currency' %}">Валюты</a>
        <a class="list-group-item" href="{% url 'depositors' %}">Вкладчики</a>
        <a class="list-group-item" href="{% url 'deposits' %}">Вклады</a>
        <a class="list-group-item" href="{% url 'admin' %}">Панель администратора</a>
    </ul>
</div>
<script>
    document.getElementById("button-reset").addEventListener("click", function() {
        window.location.href = "{% url 'home' %}";
    });

    document.getElementById("button-find").addEventListener("click", function() {
        var name = document.getElementById("name").value.trim();
        if (name) {
            var url = "{% url 'bank_by_name' '__placeholder__' %}".replace('__placeholder__', name);
            fetch(url)
              .then(response => {
                if (response.status === 200) {
                  window.location.href = response.url;
                } else {
                  console.error('Ошибка при запросе: ' + response.status);
                }
              })
              .catch(error => console.error('Ошибка: ' + error));
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-bordered">
        <thead class="table-info">
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Адрес</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in banks %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>
                <a href="{% url 'deposit_detail' pk=item.pk %}" class="btn btn-outline-info">Подробнее</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
